.DS_Store
testdata
_*
temp
.devcontainer
.idea/inspectionProfiles/Project_Default.xml
.idea/maptoolkit.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
atlante/.vscode/settings.json
.idea/workspace.xml
